<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.znjt.dao.mapper.IRITransferBeanMapper">

    <!--客户端 begin-->
    <!--获取没有上传的记录-->
    <select id="findUnUpLoadIRIRecordDatas" resultType="IRITransferIniBean" useCache="false">
        select * from iri where uploadstatus = 0 limit 0,#{pageSize}
    </select>

    <!--更新刚刚更新成功的记录的状态-->
    <update id="updateCurrentUpLoadedSuccessIRIRescords">
        update iri set UPLOADSTATUS = 1 where
        <foreach collection="list" item="item" separator="," open=" id in (" close=")" >
            #{item.id}
        </foreach>
    </update>

    <!--客户端 end-->

    <!--服务器端 begin-->
    <insert  id="upLoadIRIRecordDatas2UpStream"  >
        insert into iri (irigpsid,gpsid,collect_time,start_latitude,start_longitude,end_latitude,end_longitude,iri_value,distance,azimuth,dataid)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.irigpsid},#{item.gpsid},#{item.collect_time},#{item.start_latitude},#{item.start_longitude},
            #{item.end_latitude},#{item.end_longitude},#{item.iri_value},#{item.distance},
            #{item.azimuth},#{item.dataid})
        </foreach>
        ON DUPLICATE KEY UPDATE dataid = values(dataid)
    </insert>

</mapper>